# app
APP_PORT=****

# database
DB_HOST=********
DB_PORT=********
DB_USER=********
DB_PASSWORD=********
DB_NAME=********

# pgadmin
PGADMIN_EMAIL=*****@****.**
PGADMIN_PASSWORD=********
PGADMIN_PORT=********

# jwt
JWT_SECRET_KEY=********
JWT_ALGORITHM=********
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=********
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=********
JWT_REFRESH_COOKIE_NAME=********
JWT_REFRESH_COOKIE_SECURE=*****
JWT_REFRESH_COOKIE_SAMESITE=********
